.card {
    border-radius: 5px;
    margin:1vw 1vw;
    width: 20vw;
    height: max-content;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.2s;
    flex-shrink: 0;
    position: relative;
}

.card:hover {
    transform: scale(1.05);
}
.CardOptions {
    position: absolute;
    width: 100%;
    border-radius: 5px;
    height: 11vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.card:hover .CardOptions {
    opacity: 1;
}
.otherOptions {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-left: 5px;
    background: transparent;
    border: 2px solid var(--main-color);
    color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardOptionsIcon {
    font-size: 18px;
}
.card-Image {
    width: 100%;
    border-radius: 5px;
    height: 11vw;
    object-fit: cover;
}
.cardProfileWrapper {
    display: flex;
    align-items: flex-start;
}
.cardProfileWrapper img {
    width: clamp(20px,3vw,100px);
    height:clamp(20px,3vw,100px);
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    background-color: red;
}
.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limits the text to two lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em; /* Adjust based on your desired line height */
    max-height: 2.4em; /* 2 lines * line-height */
    word-wrap: break-word;
    white-space: normal;
    width: 100%;
    font-weight: 600;
    margin: 0.1vw 0;
    width: 95%;
}
.vidDetails {
    font-size: clamp(9px,0.9vw,12px);
}
.cardDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.headingandOptiondots {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cardOption {
    font-size: 20px;
}
@media screen and (max-width:800px) {
    .card {
        width: 28vw;
        /* height: 27vw; */
    }
    .card-Image{
        height: 17vw;
    }
}
@media screen and (max-width:500px) {
    .card {
        width: 100%;
       
    }
    .card-Image{
        height: 200px;
    }
}