.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../home.svg);
    background-size: fill;
    background-origin: content-box;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--second-color);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
}
.hero h3 {
    width: 400px;
}
.hero p {
    width: 600px;
}
.homeContent {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 0 3vw 0 60px;
    align-items: flex-end;
}
.titles {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 10px; */
}
.titles a {
    text-decoration: 1px solid var(--background-color) underline;
    text-underline-offset: 2px;
    color: var(--background-color);
    font-size: var(--label);
}
.recentlyPlayed, .trending, .newRelease {
    width: 100%;
    height: max-content;
    padding: 10px 0;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    
}
.recentlyPlayed::-webkit-scrollbar {
    width: 0;
}
.trending::-webkit-scrollbar {
    width: 0;
}
.newRelease::-webkit-scrollbar {
    width: 0;
}
.topComedians {
    width: 100%;
    padding: 0 60px;

}
.ArtistProfileWrapper {
    width: 100%;
    height: max-content;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    /* margin-top: 20px; */
}
.artistCard {
    width: max-content;
    height: max-content;
    margin-right: 10px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
/* .Artists h4 {
    white-space: nowrap;
} */
.artistCard .Artists img {
    width: clamp(50px, 8vw, 200px);
    height: clamp(50px, 8vw, 200px);
    flex-shrink: 0;
    /* width: 10vw;
    height: 10vw; */
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
.Artists {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    box-shadow: 0 0 4px rgb(202, 201, 201);
    background-color: var(--second-color);
    border-radius: 5px;
    height: clamp(100px , 13vw, 400px);
    transition: 0.2s ease-in-out;
}
.Artists:hover{
    transform: translateY(-10px);
}
.artistCardName {
    margin-top: 10px;
    width: 10vw;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}
.ArtistProfileWrapper::-webkit-scrollbar {
    width: 0;
}
.infiniteCover {
    padding: 0 60px;
    width: 100%;
}
@media screen and (max-width:800px) {
    .homeContent, .topComedians, .infiniteCover{
        padding: 0 3vw;
    }
   
}
@media screen and (max-width:500px) {
    .Artists {
        padding: 2vw;
    }
   
}