.smallcard {
    border-radius: 5px;
    margin:1vw 1vw;
    width: 20vw;
    height: max-content;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.2s;
    flex-shrink: 0;
    position: relative;
}

.smallcard:hover {
    transform: scale(1.05);
}
.smallCardOptions {
    position: absolute;
    width: 100%;
    border-radius: 5px;
    height: 11vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.smallcard:hover .CardOptions {
    opacity: 1;
}
.smallotherOptions {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-left: 5px;
    background: transparent;
    border: 2px solid var(--main-color);
    color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.smallcardOptionsIcon {
    font-size: 18px;
}
.smallcard-Image {
    width: 100%;
    border-radius: 5px;
    height: 11vw;
    object-fit: cover;
}
.smallcardProfileWrapper {
    display: flex;
    align-items: flex-start;
}
.smallcardProfileWrapper img {
    width: clamp(20px,3vw,100px);
    height:clamp(20px,3vw,100px);
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    background-color: red;
}
.smallcard-title {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limits the text to two lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em; /* Adjust based on your desired line height */
    max-height: 2.4em; /* 2 lines * line-height */
    word-wrap: break-word;
    white-space: normal;
    width: 100%;
    font-weight: 600;
    margin: 0.1vw 0;
    width: 95%;
}
.smallvidDetails {
    font-size: clamp(9px,0.9vw,12px);
}
.smallcardDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.smallheadingandOptiondots {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.smallcardOption {
    font-size: 20px;
}
@media screen and (max-width:800px) {
    .smallcard {
        width: 28vw;
    }
    .smallcard-Image{
        height: 17vw;
    }
    .smallcardProfileWrapper {
        display: none;
    }
}

/* @media screen and (max-width:500px) {
    .smallcard {
        width: 45vw;
        height: 27vw;
    }
    .smallcard img{
        height: 27vw;
    }
  
} */