* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}
:root {
    --main-color:#FFA500;
    --second-color:#F8F8F8;
    --background-color: #2D2D2D;
    --label: 13px;
    --heading:24px;
}
body {
    background-color: var(--second-color);

}
button {
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 6px 20px;
    border: 2px solid var(--main-color);
    margin: 10px 0;
}
section {
    padding: 60px 3vw 0 60px;
    background-color: var(--second-color);
    color: var(--background-color);
    overflow-x: hidden;
}
h2 {
    font-size: clamp(18px, 2vw, 24px);
}
h3 {
    font-size: clamp(16px, 1.7vw, 18px);
}

.infinite, .searchCardWrapper, .history {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width:800px){
    section {
        padding: 60px 3vw 50px 3vw;
    }
    .infinite, .searchCardWrapper, .history {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width:500px){
    .infinite, .searchCardWrapper, .history {
        grid-template-columns: repeat(1, 1fr);
    }
}