<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Component</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../cssComponent/card.css">
</head>
<body>
    <div class="card">
        <div class="CardOptions">
            <button class="watchNow" onclick="navigateToPlayer()"><i class="cardOptionsIcon fa-solid fa-play"></i> Watch Now</button>
            <span class="otherOptions"><i class="cardOptionsIcon fa-regular fa-square-plus"></i></span>
            <span class="otherOptions"><i class="cardOptionsIcon fa-solid fa-arrow-down"></i></span>
            <span class="otherOptions"><i class="cardOptionsIcon fa-solid fa-share"></i></span>
        </div>
        <img class="card-Image" src="https://via.placeholder.com/200x300" alt="Movie Poster">
        <span class="headingandOptiondots">
        <h3 class="card-title">Movie Title</h3>
        <i class=" cardOption fa-solid fa-ellipsis-vertical"></i></span>
        <span class="release-date">Release date</span>
        <div class="view-and-likes"><span>Views</span><span>likes</span></div>
        <h4 class="Author">Author <span>1M followers</span> </h4>
    </div>
</body>
</html>
<script src="scripts.js"></script>