<link rel="stylesheet" href="../cssComponent/header.css">
<footer class="profileFooter">
    <a href="about.html" class="footerContent">About Us</a>
    <a href="" class="footerContent">Help</a>
    <a href="" class="footerContent">Feedback</a>
    <a href="" class="footerContent">Privacy</a>
    <a href="" class="footerContent">About Us</a>
    <a href="" class="footerContent">About Us</a>
    <a href="" class="footerContent">About Us</a>
    <a href="" class="footerContent">About Us</a>
    <a href="" class="footerContent">About Us</a>
    </footer>