<link rel="stylesheet" href="../cssComponent/header.css">
<header>
<div class="header-container">
        <div class="logo">LAUGH<span class="highlight">HUB</span></div>
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <button>Search</button>
        </div>
        <div class="header-options1">
            <a class="headerSignup" href="signUp.html">Sign Up</a>
            <a  class="headerLogin" href="login.html">Login</a>
        </div>
        <div class="header-options">
            <a href="../notifications.html">
                <i class="notificationIcon fa-regular fa-bell"></i></a>
            <a href="../profile.html"><img class="headerProfile" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/27a5ebeb-b941-40ff-81ca-4bc839d75d27/dg2pju2-c6bd3ecf-116c-4047-943b-89cb6e18d985.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI3YTVlYmViLWI5NDEtNDBmZi04MWNhLTRiYzgzOWQ3NWQyN1wvZGcycGp1Mi1jNmJkM2VjZi0xMTZjLTQwNDctOTQzYi04OWNiNmUxOGQ5ODUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Yu3g-rojU1pRXdeT2wXxkGgPzm49UYqc6z4SHJ_th1w" alt="Profile"></a>
        </div>
    </div>
</header>
<script src="https://kit.fontawesome.com/8f218c5ee4.js" crossorigin="anonymous"></script>
