<link rel="stylesheet" href="../cssComponent/sidebar.css" />
<!-- <link rel="stylesheet" href="../cssComponent/home.css"> -->
<div class="sidebar">
 
  <a href="index.html" class="sidebar-item" data-tooltip="Home">
    <i class="sidebarIcon fa-solid fa-house"></i>
    <!-- <span class="sidebarName">Home</span> -->
  </a>
  <a href="search.html" class="sidebar-item" data-tooltip="Search">
    <i class="sidebarIcon fa-solid fa-magnifying-glass"></i>
    <!-- <span class="sidebarName">Search</span> -->
  </a>
  <a href="trending.html" class="sidebar-item" data-tooltip="Trending">
    <i class="sidebarIcon fa-solid fa-arrow-trend-up"></i>
    <!-- <span class="sidebarName">Trending</span> -->
   </a>
  <a href="playlist.html" class="sidebar-item unwanted" data-tooltip="Playlist">
   <i class="sidebarIcon fa-solid fa-book"></i>
   <!-- <span class="sidebarName">Playlist</span> -->
  </a>
  <a href="liked.html" class="sidebar-item unwanted" data-tooltip="Liked">
    <i class="sidebarIcon fa-regular fa-thumbs-up"></i>
    <!-- <span class="sidebarName">Liked</span> -->
  </a>
  <a href="history.html" class="sidebar-item unwanted" data-tooltip="History">
  <i class="sidebarIcon fa-solid fa-clock-rotate-left"></i>
   <!-- <span class="sidebarName">History</span> -->
  </a>
  <a href="downloads.html" class="sidebar-item unwanted" data-tooltip="Downloads">
    <i class="sidebarIcon fa-solid fa-arrow-down"></i>
    <!-- <span class="sidebarName">Downloads</span> -->
  </a>
  <a href="" class="sidebar-item unwanted" data-tooltip="Setting">
    <i class="sidebarIcon fa-solid fa-gear"></i>
    <!-- <span class="sidebarName">Setting</span> -->
  </a>
  <a href="" class="sidebar-item unwanted" data-tooltip="Help">
    <i class="sidebarIcon fa-solid fa-circle-info"></i>
    <!-- <span class="sidebarName">Help</span> -->
  </a>
  <a href="" class="sidebar-item unwanted" data-tooltip="Feedback">
    <i class="sidebarIcon fa-solid fa-pencil"></i>
    <!-- <span class="sidebarName">Feedback</span> -->
  </a>
  <a href="" class="sidebar-item" data-tooltip="Profile">
    <i class="sidebarIcon fa-solid fa-pencil"></i>
    <!-- <span class="sidebarName">Feedback</span> -->
  </a>
</div>


<script src="https://kit.fontawesome.com/8f218c5ee4.js" crossorigin="anonymous"></script>
<script src="../scripts.js"></script>