<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Component</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../cssComponent/smallCard.css">
</head>
<body>
    <div class="smallcard">
        <div class="smallCardOptions">
            <button class="smallwatchNow" onclick="navigateToPlayer()"><i class="smallcardOptionsIcon fa-solid fa-play"></i> Watch Now</button>
            <span class="smallotherOptions"><i class="smallcardOptionsIcon fa-regular fa-square-plus"></i></span>
            <span class="smallotherOptions"><i class="smallcardOptionsIcon fa-solid fa-arrow-down"></i></span>
            <span class="smallotherOptions"><i class="smallcardOptionsIcon fa-solid fa-share"></i></span>
        </div>
        <img class="smallcard-Image" src="https://via.placeholder.com/200x300" alt="Movie Poster">
        <span class="smallheadingandOptiondots">
        <h3 class="smallcard-title">Movie Title</h3>
        <i class=" smallcardOption fa-solid fa-ellipsis-vertical"></i></span>
        <span class="smallrelease-date">Release date</span>
        <div class="smallview-and-likes"><span>Views</span><span>likes</span></div>
        <h4 class="smallAuthor">Author <span>1M followers</span> </h4>
    </div>
</body>
</html>
<script src="scripts.js"></script>