<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Component</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../cssComponent/smallCard.css">
</head>
<body>
    <div class="smallcard" onclick="navigateToPlayer()">
        <img class="smallcard-Image" src="https://via.placeholder.com/200x300" alt="Movie Poster">
        <div class="smallcardProfileWrapper">
            <img src="" alt="">
    <div class="smallcardDetails"><span class="smallheadingandOptiondots">
            <h3 class="smallcard-title">Movie Title</h3>
            <i class=" smallcardOption fa-solid fa-ellipsis-vertical"></i></span>
            <span class="smallvidDetails">Author | Views | Release date</span></div>
        </div>
        <!-- <span class="release-date">Release date</span>
        <div class="view-and-likes"><span>Views</span><span>likes</span></div>
        <h4 class="Author">Author <span>1M followers</span> </h4> -->
    </div>
</body>
</html>
<script src="scripts.js"></script>